@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #080c42;
  --brand-dark: #080c42;
  --brand-light: #071d75;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

input, select { outline-color: #071d75; }
